[Unit]
Description=timer ingest paylocity shard 9/24
[Timer]
OnCalendar=*-*-* 08:25:00
Persistent=true
RandomizedDelaySec=180
[Install]
WantedBy=timers.target
