[Unit]
Description=timer ingest hrmdirect
[Timer]
OnCalendar=*-*-* 01/3:29:00
Persistent=true
RandomizedDelaySec=180
[Install]
WantedBy=timers.target
