[Unit]
Description=timer ingest cryptocurrencyjobs
[Timer]
OnCalendar=*:08:00
Persistent=true
RandomizedDelaySec=180
[Install]
WantedBy=timers.target
