[Unit]
Description=timer ingest paylocity shard 23/24
[Timer]
OnCalendar=*-*-* 22:25:00
Persistent=true
RandomizedDelaySec=180
[Install]
WantedBy=timers.target
