[Unit]
Description=timer ingest workablemarketplace
[Timer]
OnCalendar=*:40:00
Persistent=true
RandomizedDelaySec=180
[Install]
WantedBy=timers.target
