[Unit]
Description=timer ingest careerplug
[Timer]
OnCalendar=*-*-* 02/3:34:00
Persistent=true
RandomizedDelaySec=180
[Install]
WantedBy=timers.target
