[Unit]
Description=timer ingest dayforce shard 1/4
[Timer]
OnCalendar=*-*-* 00/4:42:00
Persistent=true
RandomizedDelaySec=180
[Install]
WantedBy=timers.target
