[Unit]
Description=timer ingest eightfold shard 3/4
[Timer]
OnCalendar=*-*-* 02/4:50:00
Persistent=true
RandomizedDelaySec=180
[Install]
WantedBy=timers.target
