[Unit]
Description=timer ingest paylocity shard 7/24
[Timer]
OnCalendar=*-*-* 06:25:00
Persistent=true
RandomizedDelaySec=180
[Install]
WantedBy=timers.target
