[Unit]
Description=timer ingest paylocity shard 18/24
[Timer]
OnCalendar=*-*-* 17:25:00
Persistent=true
RandomizedDelaySec=180
[Install]
WantedBy=timers.target
