[Unit]
Description=timer ingest paylocity shard 5/24
[Timer]
OnCalendar=*-*-* 04:25:00
Persistent=true
RandomizedDelaySec=180
[Install]
WantedBy=timers.target
