[Unit]
Description=timer ingest dayforce shard 4/4
[Timer]
OnCalendar=*-*-* 03/4:42:00
Persistent=true
RandomizedDelaySec=180
[Install]
WantedBy=timers.target
