[Unit]
Description=timer ingest workday shard 5/6
[Timer]
OnCalendar=*-*-* 04/6:40:00
Persistent=true
RandomizedDelaySec=180
[Install]
WantedBy=timers.target
