[Unit]
Description=timer ingest workday shard 6/6
[Timer]
OnCalendar=*-*-* 05/6:40:00
Persistent=true
RandomizedDelaySec=180
[Install]
WantedBy=timers.target
