[Unit]
Description=timer ingest paylocity shard 22/24
[Timer]
OnCalendar=*-*-* 21:25:00
Persistent=true
RandomizedDelaySec=180
[Install]
WantedBy=timers.target
