[Unit]
Description=timer ingest recruitingsolutions
[Timer]
OnCalendar=*:23:00
Persistent=true
RandomizedDelaySec=180
[Install]
WantedBy=timers.target
