[Unit]
Description=timer ingest paylocity shard 16/24
[Timer]
OnCalendar=*-*-* 15:25:00
Persistent=true
RandomizedDelaySec=180
[Install]
WantedBy=timers.target
